* {
  // outline: 2px solid red;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s ease;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
