.homePage {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .container {
    height: 100%;
    .row {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .title,
      a {
        background-color: black;
        color: white;
        border-radius: 15px;
        padding: 15px;
      }

      .title {
        font-size: 30px;
      }
      a {
        display: inline-block;
        font-size: 24px;
        font-weight: 600;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}
